# Node modules
node_modules/
npm-debug.log*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env

# Dev files
dev.sh
docker-compose.override.yml

# 🦀 Rust (simulation-mqtt/)
simulation-mqtt/target/
simulation-mqtt/.cargo/
simulation-mqtt/Cargo.lock # opcional si solo usás como binario

# 🛠 Scripts temporales
*.sh~
dev.sh~